<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Hello express js world {{userName}}</h1>
    <p>we are here for you</p>
    
</body>
</html>